*.o
*.exe
*.out
*.a
*.stackdump
*.dump
.ycm_extra_conf.py
.vscode
compile_commands.json
*.swp
.cache
*~
*.so
*.lo
*.la
Make
.deps
.libs
Makefile
Makefile.in
config.status
*.m4
config.h
config.h.in
configure
libtool
libx.pc
stamp-h1
config.log

autom4te.cache
build-aux
m4

